---
title: Team
layout: page
permalink: /team/
---

<!-- PI -->
<h2 class="mb-3"><a id="PI"></a>Principal Investigator</h2>

{% assign members = site.posts | where: 'category', 'PI' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Graduate Students -->
<h2 class="mb-3"><a id="gradstudent"></a>Graduate Students</h2>

{% assign members = site.posts | where: 'category', 'gradstudent' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Postdoctoral Fellow -->
<h2 class="mb-3"><a id="postdoc"></a>Postdoctoral Fellow</h2>

{% assign members = site.posts | where: 'category', 'postdoc' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Affiliated Members -->
<h2 class="mb-3"><a id="affiliated"></a>Affiliated Members</h2>

{% assign members = site.posts | where: 'category', 'affiliated' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Students -->
<h2 class="mb-3"><a id="student"></a>PhD Students</h2>

{% assign members = site.posts | where: 'category', 'phd-student' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>
